<div id="user">
	<% if @user.errors.any? %>
	  <div class="alert alert-error">
	    <h4>Errors:</h4>
	    <ul class="unstyled">
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
  <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>Admin User</legend>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <% if @user.username == 'admin' %>
            <%= f.text_field :username, class: "input-xlarge disabled", disabled: '' %>
            <p class="help-block">the user named <em>admin</em> is required and may not be changed</p>
          <% else %>
            <%= f.text_field :username, class: "input-xlarge", :autocomplete => "off" %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <%= f.text_field :email, class: "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <%= f.password_field :password, class: "input-xlarge", :autocomplete => "off" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Password Confirmation</label>
        <div class="controls">
          <%= f.password_field :password_confirmation, class: "input-xlarge", :autocomplete => "off" %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to 'Cancel', users_path, :class => 'btn' %>
      </div>
    </fieldset>
  <% end %>
</div>
